.alert-success {
    background-color: green
}

.alert-warning {
    background-color: yellow;
}

.alert-danger {
    background-color: red;
}

.alert-info {
    background-color: teal;
}
nav li{display: inline; background-color: #7c8bfb;}
nav li a{
    color: #000000; 
    text-decoration: none;
    font-weight: bold;
    font-size: large;
    width: 2px;
    border: 2px solid black;
    padding: 2px;
    margin: 2px;}
nav li a:hover{background-color: #c2c9ff;}
input{
    border-radius: 2%; 
    padding: 5px;
}
body{
    background-color: #7c8bfb;
    color: #000000;
}
table {
    width: 25%;
    border-collapse: collapse;
    margin-top: 5px;
    margin-bottom: 5px;
}
table, th, td {
    border: 1px solid white;
}
th, td {
    padding: 10px;
    text-align: center;
}
th {
    background-color: rgb(50, 50, 50);
    color: white;
}
td {
    background-color: rgb(155, 155, 155);
    color:black;
}